.index_body {
    background: url('../photo/font1.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.cookiEcole{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.cookiEcole a{
    color: #fff;
}



.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}

h2{
    text-align: center;
}

input[type=text], input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #606dde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}

input[type=submit]:hover {
    background-color: #003366;
    /* opacity: 0.7; */

}



/* dossier class */
.wrap_class{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}

h4{
    text-align: center;
}

.photo_ecole {
    width: 98%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.forme_classe {
    text-align: center;
    font-size: 20px;
}

select{
    width: 90%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    background-color: #F2F2F2;
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #000;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    opacity: 0.5;

}


/* le dossier matieres */
.wrap_matieres {
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 30px;
}

.slogant_matieres {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.valeur_class {
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
}


/* dans le dossier */

.wrap_dossier {
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}



/* dans le document */

.wrap_document {
    width: 99%;
    margin: auto;
    background: #E6E6E6;
    box-sizing: border-box;
    padding: 20px;
    color: #000;
    margin-top: 5px;
    text-align: center;
    max-height: 300px;
}

.recherche_document {
    max-width: 300px;
}

.recherche {
    text-align: center;
}


.liste_document {
    margin-top: 5px !important;
    max-width: 99%;
    background: #E6E6E6;
    margin: auto;
    min-height: 600px;

}

.box {
    width: 250px;
    height: 400px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    margin: 5px;
    /* border: solid 1px #000; */
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
}

.image_conteneur {
    width: 99%;
    height: 340px;
    margin: auto;
}

.photo_liv_bro {
    width: 100%;
}

.container_lecture_telechargement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 3px;
}

.lecture{
    width: 100px;
}

.commentaire_livr_broch {
    background-color: #F2F2F2;
}


